<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Register Page</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bulma & CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />

    <style>
        .container-utama {
            background-image: url("/static/pubg_bg.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container {
            width: 650px;
            background-color: rgba(255, 255, 255, 0.4);
            padding: 20px 20px 20px 15px;
            border-radius: 10px;
        }
    </style>

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <script>
        function register() {
            let id_give = $("#userid").val();
            let pw_give = $("#userpw").val();
            let nickname_give = $("#usernick").val();

            if (id_give == '' || pw_give == '' || nickname_give == '') {
                alert('Please enter the correct data!');
                return
            } else {
                $.ajax({
                    type: "POST",
                    url: "/api/register",
                    data: {
                        id_give: id_give,
                        pw_give: pw_give,
                        nickname_give: nickname_give,
                    },
                    success: function (response) {
                        if (response["result"] === "success") {
                        alert("User registration complete!");
                        window.location.href = "/login";
                        } else {
                        alert(response["msg"]);
                        window.location.reload();
                        }
                    },
                });
            }
        }
    </script>
  </head>
  <body>
    <div class="container-utama">
        <div class="section has-text-centered">
            <div class="container">
                <h1 class="title">User Registration Page</h1>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label" for="userid">ID</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input
                                type="text"
                                class="input"
                                id="userid"
                                aria-describedby="emailHelp"
                                placeholder="My ID"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label" for="userpw">PW</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input
                                type="password"
                                class="input"
                                id="userpw"
                                placeholder="My Password"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label" for="usernick">NICKNAME</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input
                                type="text"
                                class="input"
                                id="usernick"
                                placeholder="My Nickname"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <button class="button is-primary" onclick="register()">User Registration</button>
            </div>
        </div>
    </div>
  </body>
</html>